.admin-dashboard-badge {
  display: flex;
  flex-direction: row;
  margin: 0 0 1.5em 0;
  max-width: fit-content;
}

.admin-dashboard-link {
  margin-left: 1.5em;
}

#admin-dashboard-h1 {
  margin: 1.5em 0 1.5em 0;
}