<section class="products-index">
  <header class="page-header">
    <h1>Welcome to the JUNGLE!</h1>
    <div class="intro">
      <p>
        We bring the joy of greenery and floral elegance right to your doorstep. Our online plant shop is not just a store; it's a sanctuary for plant enthusiasts, a haven for nature lovers, and a source of inspiration for anyone seeking to add life to their home.
      </p>
      <h2>Why Choose JUNGLE?</h2>
      <p>
        At JUNGLE, we pride ourselves on offering an unparalleled selection of the highest quality plants and flowers. When you shop with us, you're not just adding greenery to your space; you're investing in the health and happiness of your new leafy companions.
      </p>
      <h2>Discover a World of Green Delights</h2>
      <p>
        <a href="<%= root_path %>">Explore our online plant shop</a> and discover a diverse array of plants and flowers curated just for you. 
        Whether you're a seasoned plant enthusiast or a newcomer to the world of greenery, we have the perfect botanical companion for every preference and space.
      </p>
    </div>
  </header>

</section>